{% extends 'layout.html' %}

{% block body %}

<div class="split left">
        <div class="centered">
        <h1>Internal Server Error </h1>
        <p>OOPS! Something went wrong on the server.</p>

        <p>While you're here, would you like to take the quiz?</p>
    </div>
</div>

<div class="split right">
    <div class="centered">
        <img src="{{url_for('static', filename='icbm_white_background.png')}}"/>
        <form name="re-take" action="/start" method="get">
        <input type="submit" value="Take Quiz" class="white-button"/>

    </div>
</div>






{% endblock %}