{% extends 'layout.html' %}
{% block body %}
<div class="centered-card">
<h2>About Us</h2>
<p>The ICBM Guided Investing Tool helps users create a portfolio of Exchange-Traded Funds(ETFs), considering their
    Environmental, Social, and Governance (ESG) preferences to ensure our investment guidance aligns with their values.
</p>

<h2>Our Mission</h2>
<p>
    There are nearly 6000 publicly listed U.S. stocks and over 2200 ETFs. With so many options available, choosing an
    asset mix that addresses their needs and reflects their values can be difficult for new investors. We aim to
    simplify investing and remove one of the significant hurdles for new investors: uncertainty.

</p>
<h2>Methodology</h2>
<p>
    Our algorithm makes an asset mix suggestion based on four categories*. It then selects from a curated library of
    high-performing ETFs, specifically chosen based on their Asset Under Management value. These suggestions include a
    variety of domestic and international segments, ranging from Large Capitalization companies to Fixed Income and even
    Alternatives (Hedge Funds, Private Equity, Venture Capital, etc.)

</p>

</div>

{% endblock %}