{% extends 'layout.html' %}
{% block body %}
<div class="split left">
    <div class="centered">
<img src="{{url_for('static', filename='logo_3.png')}}"/>

<!--        <div style="margin: 10px 0 0 10px;width: 1000px">-->
<!--		<h3>Results</h3>-->

<!--		<div id="piechart_3d" style="width: 900px; height: 500px;"></div>-->
	</div>

    </div>
</div>

<div class="split right">
    <div class="centered">
Here are your results

        <div style="margin: 10px 0 0 10px;width: 1000px">
		<h3>Results</h3>

		<div id="piechart_3d" style="width: 900px; height: 500px;"></div>
	</div>
    </div></div>



{% endblock %}