{% extends 'layout.html' %}
{% block body %}
{% if data %}
            <div>{{ data | currencyFormat }}</div>
        {% endif %}

        <table>
        <thead>
        <tr>
<!--            <th>Name</th>-->
        </tr>
        </thead>
        <tbody>
        {% for symbol in tickers %}

        <tr scope="col">
            <td scope="row">{{ symbol }}</td>
        </tr>
         {% endfor %}
          {% for result in only_dics %}
                {% for key, data in result.items() %}
            <tr scope="col">
                <td scope="row">{{ key.title()}}:  {{ data }} </td>
<!--                <td>{{ data }} </td>-->
            </tr>
            {% endfor %}
            {% endfor %}

        </tbody>
    </table>
    </div>
    </div>

<!--<table>-->
<!--    <thead>-->
<!--    <th>Testing new data</th>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    {% for item in api_calls %}-->

<!--    <tr>-->
<!--        <td>{{ item }}</td>-->
<!--    </tr>-->

<!--      {% endfor %}-->


<!--    </tbody>-->
<!--</table>-->







{% endblock %}