{% extends 'layout.html' %}
{% block body %}

<!--        progress bar-->
<div class="meter">
    <span style="width: 9%"></span>
</div>

<!--Add question to div with a class questions-->
<div class="questions">
    <h3>When it comes to investing, Environmental issues such as sustainability, renewable energy, natural resources,
        and land usage are important to me. </h3>
</div>

<!--Add all options to one div with a class options-->
<div class="options">
    <form name="esg-first" action="/esg-first" method="get">
        <!--    Add each question to a div with a class card-->
        <div class="card">
            <input type="radio" id="a" name="esg-first" value="a" required>
            <label for="a">Strongly Disagree </label>
        </div>
        <div class="card">
            <input type="radio" id="b" name="esg-first" value="b">
            <label for="b">Somewhat Disagree </label>
        </div>
        <div class="card">
            <input type="radio" id="c" name="esg-first" value="c">
            <label for="c">Neutral </label>
        </div>
        <div class="card">
            <input type="radio" id="d" name="esg-first" value="d">
            <label for="d">Somewhat Agree </label>
        </div>
        <div class="card">
            <input type="radio" id="e" name="esg-first" value="e">
            <label for="e">Strongly Agree </label>
        </div>
        <input type="submit" value="Next Question" class="white-button">
    </form>
</div>

{% endblock %}