{% extends 'layout.html' %}
{% block body %}

<div class="meter">
    <span style="width: 81%"></span>
</div>

<!--Add question to div with a class questions-->
<div class="questions">
    <h3>I take into consideration social aspects of  the companies that I invest in, such as diversity, local community impact, and labor standards.</h3>
</div>

<!--Add all options to one div with a class options-->
<div class="options">
    <form name="esg-second" action="/esg-second" method="get">
        <!--    Add each question to a div with a class card-->
        <div class="card">
            <input type="radio" id="a" name="esg-second" value="a" required>
            <label for="a">Strongly Disagree </label><br>
        </div>
        <div class="card">
            <input type="radio" id="b" name="esg-second" value="b">
            <label for="b">Somewhat Disagree </label><br>
        </div>
        <div class="card">
            <input type="radio" id="c" name="esg-second" value="c">
            <label for="c">Neutral </label><br>
        </div>
        <div class="card">
            <input type="radio" id="d" name="esg-second" value="d">
            <label for="d">Somewhat Agree </label><br>
        </div>
        <div class="card">
            <input type="radio" id="e" name="esg-second" value="e">
            <label for="e">Strongly Agree </label><br>
        </div>
        <input type="submit" value="Next Question" class="white-button">
    </form>
</div>


{% endblock %}