{% extends 'layout.html' %}
{% block body %}
<!--<h1>ESG</h1>-->
<div class="split left">
     <div class="logo">
        <img src="{{url_for('static', filename='logo_3.png')}}"/>
    </div>
    <div class="centered">
<!--<img src="{{url_for('static', filename='logo_3.png')}}"/>-->
<h3>When it comes to investing, Environmental issues such as sustainability, renewable energy, natural resources,
    and land usage are important to me. </h3>
</div>
        <!--        progress bar-->
<div class="meter">
    <span style="width: 72%"></span>

    </div>
</div>

<div class="split right">
    <div class="centered">
<form name="esg-first" action="/esg-first" method="get">
    <input type="radio" id="a" name="esg-first" value="a" required>
        <label for="a">Strongly Disagree </label></br>
    <input type="radio" id="b" name="esg-first" value="b">
        <label for="b">Somewhat Disagree </label></br>
    <input type="radio" id="c" name="esg-first" value="c">
        <label for="c">Neutral </label></br>
    <input type="radio" id="d" name="esg-first" value="d">
        <label for="d">Somewhat Agree </label></br>
    <input type="radio" id="e" name="esg-first" value="d">
        <label for="e">Strongly Agree </label></br></br></br>
    <input type="submit" value="Next Question" class="button">
</form>
{% endblock %}