{% extends 'layout.html' %}
{% block body %}
<div class="meter">
    <span style="width: 9%"></span>
</div>

<!--Add question to div with a class questions-->
<div class="questions">
    <h3>Investors should take into consideration ethical business practices, executive compensation, and board independence
        when choosing which companies to invest in. </h3>
</div>

<!--Add all options to one div with a class options-->
<div class="options">
    <form name="esg-third" action="/esg-third" method="get">
        <!--    Add each question to a div with a class card-->
        <div class="card">
            <input type="radio" id="a" name="esg-third" value="a" required>
            <label for="a">Strongly Disagree </label><br>
        </div>
        <div class="card">
            <input type="radio" id="b" name="esg-third" value="b">
            <label for="b">Somewhat Disagree </label><br>
        </div>
        <div class="card">
            <input type="radio" id="c" name="esg-third" value="c">
            <label for="c">Neutral </label><br>
        </div>
        <div class="card">
            <input type="radio" id="d" name="esg-third" value="d">
            <label for="d">Somewhat Agree </label><br>
        </div>
        <div class="card">
            <input type="radio" id="e" name="esg-third" value="e">
            <label for="e">Strongly Agree </label><br>
        </div>
        <input type="submit" value="Next Question" class="white-button">
    </form>
</div>


{% endblock %}