{% extends 'layout.html' %}

{% block body %}
<style>
    .splash{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background: black;
        z-index: 200;
        color: white;
        text-align: center;
        line-height: 90vh;
    }
    .splash.display-none{
        position: fixed;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: black;
        z-index: -10;
        color: white;
        text-align: center;
        line-height: 90vh;
        transition: all 0.5s;
    }

    h1{
        top: 0;
        left: 0;
        position: relative;
        margin-top: 20%;
    }
    @keyframes fadeIn {
        to{
            opacity: 1;
        }
    }
    .fade-in{
        opacity: 0;
        animation: fadeIn 1s ease-in forwards;
    }
</style>
<div class="splash">
    <h1 class="fade-in">
        Invest, Collect, Build Money
    </h1>
</div>

<script >
    const splash = document.querySelector('.splash');
    document.addEventListener('DOMContentLoaded', (e)=>{
        setTimeout(()=>{
            splash.classList.add('display-none');
        }, 2000);
    })
</script>

<div class="split left">
    <div class="centered">
        <img src="{{url_for('static', filename='icbm_white_background.png')}}"/>

    </div>
</div>
<div class="split right">
        <div class="responsive">
        <h1 class="responsive">INVEST, COLLECT, BUILD MONEY</h1><br>
        <h2 class="responsive">A platform for your investing needs</h2><br>
        <p class="responsive">The ICBM Guided Investing Tool helps you create a portfolio of Exchange-Traded Funds(ETFs), considering your
            Environmental, Social, and Governance (ESG) preferences to ensure our investment guidance aligns with your
            values</p>
        <form action="/start" method="get">
            <input type="checkbox" name="checkbox" value="check" id="agree" required>
            <label for="agree">I understand that this app does
                not offer real financial advice and that I should consult a professional before investing.</label>
            <input type="submit" value="Start Quiz" class="white-button">
        </form>
    </div>
</div>


{% endblock %}