{% extends 'layout.html' %}

{% block body %}

<div class="split left">
    <div class="centered">
        <img src="{{url_for('static', filename='logo_3.png')}}"/>
        <h1>INVEST, COLLECT, BUILD MONEY</h1>

    </div>
</div>

<div class="split right">
    <div class="centered">
        <h2>A platform for your investing needs</h2>
<!--        <p>The ICBM Guided Investing Tool uses a specially designed algorithm to develop an investment portfolio tailored-->
<!--    to each individual user's needs. By taking our Investment Questionnaire, you can create your own recommended stack-->
<!--    of ETF investment options. We are still developing login functionality, but you will eventually be able to revisit-->
<!--    your account to check up on your recommended investment stack and see how your ETFs are doing! Unlike most-->
<!--    investment tools, we consider ESG compatibility to ensure that our investment recommendations align with your-->
<!--    personal ethics.</p>-->
        <p>The ICBM Guided Investing Tool helps you create a portfolio of Exchange-Traded Funds(ETFs), considering your
            Environmental, Social, and Governance (ESG) preferences to ensure our investment guidance aligns with your
            values</p>
        <form action="/start" method="get">
            <input type="checkbox" name="checkbox" value="check" id="agree" required/>I understand that this app does
            not offer real financial advice and that I should consult a professional before investing.<br><br><br>
            <input type="submit" value="Start Quiz" class="button">
        </form>
    </div>

</div>

{% endblock %}