{% extends 'layout.html' %}
{% block body %}

<div class="meter">
    <span style="width: 18%"></span>
</div>

<!--Add question to div with a class questions-->
<div class="questions">
    <h3>When it comes to investing, I am more interested in capital growth than maintaining the principal value</h3>
</div>

<!--Add all options to one div with a class options-->
<div class="options">
    <form name="io-first" action="/io-first" method="get">
        <!--    Add each question to a div with a class card-->
        <div class="card">
            <input type="radio" id="a" name="io-first" value="a" required>
            <label for="a">Strongly Disagree </label>
        </div>
        <div class="card">
            <input type="radio" id="b" name="io-first" value="b">
            <label for="b">Somewhat Disagree </label>
        </div>
        <div class="card">
            <input type="radio" id="c" name="io-first" value="c">
            <label for="c">Neutral </label>
        </div>
        <div class="card">
            <input type="radio" id="d" name="io-first" value="d">
            <label for="d">Somewhat Agree </label>
        </div>
        <div class="card">
            <input type="radio" id="e" name="io-first" value="e">
            <label for="e">Strongly Agree </label>
        </div>
        <input type="submit" value="Next Question" class="white-button">
    </form>
</div>

{% endblock %}