{% extends 'layout.html' %}
{% block body %}
<h1>Investment Objective</h1>
<h2>If investing in a stock, would you rather:</h2>
<form name="io-second" action="/io-second" method="get">
    <input type="radio" name="io-second" id="a" value="a" required>
    <label for="a">Buy Companies that may make significant technological advances that are still selling at their
        low initial offering price </label></br>
    <input type="radio" id="b" name="io-second" value="b">
    <label for="b">Established, well-known companies that have a potential for continued growth</label></br>
    <input type="radio" id="c" name="io-second" value="c">
    <label for="c">'Blue chip' stocks that pay dividends </label></br></br>
    <input type="submit" value="Next Question">
</form>

{% endblock %}