{% extends 'layout.html' %}
{% block body %}
<h1>Risk Tolerance</h1>
<h2>Which scenario are you most comfortable with:</h2>
<form name="rt-first" action="/rt-first" method="get">
    <input type="radio" id="a" name="rt-first" value="a" required>
        <label for="a">Average Annual Return: 7% Best Case: 16%. Worst Case: -5% </label></br>
    <input type="radio" id="b" name="rt-first" value="b">
        <label for="b">Average Annual Return: 9% Best Case: 25%. Worst Case: -12% </label></br>
    <input type="radio" id="c" name="rt-first" value="c">
        <label for="c">Average Annual Return: 10% Best Case: 33%. Worst Case: -18% </label></br>
    <input type="radio" id="d" name="rt-first" value="d">
        <label for="d">Average Annual Return: 11% Best Case: 42%. Worst Case: -24% </label></br>
    <input type="radio" id="e" name="rt-first" value="d">
        <label for="e">Average Annual Return: 12% Best Case: 50%. Worst Case: -28% </label></br>
    <input type="submit" value="Next Question">
</form>

{% endblock %}   1779


hsg?   pregnyl... hcg  tonight at 11pm

15
19


14
18