{% extends 'layout.html' %}
{% block body %}
<!--<h1>Risk Tolerance</h1>-->

<div class="split left">
     <div class="logo">
        <img src="{{url_for('static', filename='logo_3.png')}}"/>
    </div>
    <div class="centered">
<!--<img src="{{url_for('static', filename='logo_3.png')}}"/>-->
<h3>If you had $10,000 to invest for ten years, which portfolio would you prefer?</h3>
        </div>
<!--        progress bar-->
<div class="meter">
    <span style="width: 45%"></span>

    </div>
</div>

<div class="split right">
    <div class="centered">
<form name="rp-second" action="/rp-second" method="get">
    <input type="radio" id="a" name="rp-second" value="a" required>
    <label for="a"><em><strong>Low risk/low return</strong></em>. A portfolio that may grow 2-3% per year but is likely
        to lose 2-5% in one of those years. </label></br>
    <input type="radio" id="b" name="rp-second" value="b">
    <label for="b"><em><strong>Some risk/medium return</strong></em>. A portfolio that may grow at an average of 4% per
        year but is likely to lose 10% in one of those years. </label></br>
    <input type="radio" id="c" name="rp-second" value="c">
    <label for="c"><em><strong>Higher risk/high return</strong></em>.A portfolio that may grow an average of 6% per year
        but is likely to lose 20% in one of those years. </label></br>
    <input type="radio" id="d" name="rp-second" value="d">
        <label for="d"><em><strong>Highest risk/highest return</strong></em>. A portfolio that may grow at an average of
            7% per year but is likely to lose 25% in at least one of those years. </label></br></br></br>
    <input type="submit" value="Next Question" class="button">
</form>
    </div>
</div>


{% endblock %}