{% extends 'layout.html' %}
{% block body %}

<div class="meter">
    <span style="width: 9%"></span>
</div>

<!--Add question to div with a class questions-->
<div class="questions">
    <h3>How long are you planning on investing your money?</h3>
</div>

<!--Add all options to one div with a class options-->
<div class="options">
<form name="time_horizon" action="/time-horizon" method="get">
<!--    Add each question to a div with a class card-->
    <div class="card">
        <input type="radio" id="a" name="time_horizon" value="a" required>
    <label for="a">Less than 4 years</label>
    </div>
     <div class="card">
         <input type="radio" id="b" name="time_horizon" value="b">
        <label for="b">5-10 years</label>
    </div>
     <div class="card">
        <input type="radio" id="c" name="time_horizon" value="c">
        <label for="c">11+ years</label>
    </div>
    <input type="submit" value="Next Question" class="white-button">
    </form>
</div>


{% endblock %}